<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>

    <div class="author-detail">
      <p class="page-title"><%= title %></p>
      <a href="<%= author.link_to_blog %>" target="_blank" class="external-link">LINK TO BLOG</a></p>
      <% if (author_recipes.length > 0) { %>
      <% author_recipes.forEach(function(recipe) { %>
      <div class="recipe-item">
        <i class="fa-solid fa-utensils"></i>
        <a href="<%= recipe.url %>"><%= recipe.title %></a>
      </div>
      <% }); %>
      <% } else { %>
      <p>This author has no recipes.</p>
      <% } %>

      <div class="buttons-container">
        <button class="update-button">
          <i class="fa-solid fa-pen"></i>
          <a href="<%= author.url %>/update">update author</a>
        </button>
        <button class="delete-button">
          <i class="fa-solid fa-trash-can"></i>
          <a href="<%= author.url %>/delete">delete author</a>
        </button>
      </div>
    </div>
  </main>

  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>