<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>
    <div>
      <h1><%= title %></h1>

      <form method="POST" action="">
        <div>
          <label for="name">Name:</label>
          <input id="name" type="text" placeholder="Author name" name="name" required="true" value='<%= (undefined === locals.author ? '' : locals.author.name) %>''>
              <label for="link_to_blog">Link to blog:</label>
              <input id="link_to_blog" type="text" placeholder="Link to blog" name="link_to_blog" required="true" value=<%= (undefined === locals.author ? '' : locals.author.link_to_blog) %>>
            </div>
            <button type="submit">Submit</button>
          </form>
  
          <% if (locals.errors) { %>
          <ul>
            <% for (let error of errors) { %>
            <li><%= error.msg %></li>
            <% } %>
          </ul>
          <% } %>
        </div>
  </main>
  
  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>