<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>
    <div>
      <h1><%= title %></h1>
      <a href="<%= author.link_to_blog %>" target="_blank">Link to blog</a></p>

      <p>Recipes:</p>
      <dl>
        <% if (author_recipes.length > 0) { %>
        <% author_recipes.forEach(function(recipe) { %>
        <dt><a href="<%= recipe.url %>"><%= recipe.title %></a></dt>
        <dd><%= recipe.description %></dd>
        <% }); %>
        <% } else { %>
        <p>This author has no recipes.</p>
        <% } %>
      </dl>
      <p>
        <a href="<%= author.url %>/delete">Delete author</a>
      </p>
      <p>
        <a href="<%= author.url %>/update">Update author</a>
      </p>
    </div>
  </main>

  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>