<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>
    <p class="page-title"><%= title %></p>
    <a href="/catalog/author/create" class="add-button"><i class="fa-solid fa-user-plus"></i> add author</a>
    <div class="authors-container">
      <% if (author_list.length > 0) { %>
      <% author_list.forEach(function(author) { %>
      <div class="author-item">
        <i class="fa-solid fa-user"></i><a href="<%= author.url %>"><%= author.name %></a>
      </div>
      <% }); %>
    </div>
    <% } else { %>
    <p>There are no authors.</p>
    <% } %>
  </main>

  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>