<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <%- include('./partials/navbar') %>
  <p><%= title %></p>

  <form action="<%= brand ? `/brands/${brand.brand_id}/update` : '/brands/new' %>" method="POST">

    <label for="name">Brand name</label>
    <input type="text" id="name" name="brandName" placeholder="Waitrose" value="<%= (brand === undefined ? '' : brand.name) %>">

    <button type="submit">submit</button>
  </form>
  <%- include('./partials/footer') %>
</body>

</html>