<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>
    <div>
      <%= title %>
      <button><a href="/catalog/category/create"><i class="fa-solid fa-folder-plus"></i> Add Category</a></button>

      <ul>
        <% if (category_list.length > 0) { %>
        <% category_list.forEach(function(category) { %>
        <li>
          <a href="<%= category.url %>"><%= category.name %></a>
        </li>
        <% }); %>
        <% } else { %>
        <li>There are no categories.</li>
        <% } %>
      </ul>
    </div>
  </main>

  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>