<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>

    <div class="category-detail">
      <p class="page-title"><%= category.name %></p>
      <div class="buttons-container">
        <a href="<%= category.url %>/update" class="update-button"><i class="fa-solid fa-pen"></i> edit</a>
        <a href="<%= category.url %>/delete" class="delete-button"><i class="fa-solid fa-trash-can"></i> delete</a>
      </div>
      <% if (category_recipes.length > 0) { %>
      <% category_recipes.forEach(function(recipe) { %>
      <div class="category-item">
        <i class="fa-solid fa-utensils"></i>
        <a href="<%= recipe.url %>"><%= recipe.title %></a>
        <%= recipe.description %>
      </div>
      <% }); %>
      <% } else { %>
      <p>This category has no recipes.</p>
      <% } %>

    </div>
  </main>

  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>