<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <%- include('./partials/navbar') %>

  <p><%= category.name %></p>

  <a href=<%= `/categories/${category.category_id}/update` %>><button>edit</button></a>
  <a href=<%= `/brands/${category.category_id}/delete` %>><button>delete</button></a>

  <!-- display all items of this category -->

  <% if (itemsInCategory.length > 0) { %>
  <% itemsInCategory.forEach(function(item) {%>
  <a href=<%= `/items/${item.item_id}` %>><%= item.item_name %></a>
  <p><%= item.qty %></p>
  <p><%= item.unit_name %></p>
  <p><%= item.category_name %></p>
  <p><%= item.brand_name %></p>
  <%}); %>
  <% } %>


  <%- include('./partials/footer') %>
</body>

</html>