<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>
    <p class="page-title"><%= title %></p>
    <a href="/catalog/category/create" class="add-button"><i class="fa-solid fa-folder-plus"></i> add category</a>

    <div class="categories-container">
      <% if (category_list.length > 0) { %>
      <% category_list.forEach(function(category) { %>
      <div class="category-item">
        <i class="fa-solid fa-hourglass-half"></i>
        <a href="<%= category.url %>"><%= category.name %></a>
      </div>
      <% }); %>
    </div>
    <% } else { %>
    <p>There are no categories.</p>
    <% } %>
  </main>

  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>