<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <%- include('./partials/navbar') %>
  <p><%= title %></p>

  <form action="<%= category ? `/categories/${category.category_id}/update` : '/categories/new' %>" method="POST">

    <label for="name">Category name</label>
    <input type="text" id="name" name="categoryName" placeholder="Miscellaneous" value="<%= (category === undefined ? '' : category.name) %>">

    <button type="submit">submit</button>
  </form>
  <%- include('./partials/footer') %>
</body>

</html>