<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <!-- header goes here? -->
  <div class="container max-w-full mx-auto sm:px-4">
    <div class="flex flex-wrap">
      <%- include('./templates/sidebar'); %>
      <div class="pl-4 pr-4 sm:w-4/5">
        <%= title %>
        <ul>
          <% if (category_list.length > 0) { %>
          <% category_list.forEach(function(category) { %>
          <li>
            <a href="<%= category.url %>"><%= category.name %></a>
          </li>
          <% }); %>
          <% } else { %>
          <li>There are no categories.</li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    <%- include('./templates/footer') %>
  </footer>
  <!-- <script src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script> -->
</body>

</html>