<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>
    <p class="page-title"><%= title %></p>

    <form action="" method="POST">
      <div class="input-item">
        <label for="name">Category:</label>
        <input id="name" type="text" placeholder="e.g. Festive" name="name" required value="<%= (typeof category === 'undefined' ? '' : category.name) %>">
      </div>
      <button type="submit" class="add-button"><i class="fa-solid fa-thumbs-up"></i> submit</button>
    </form>

    <% if (locals.errors) { %>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>
  </main>

  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>