<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>
    <p class="page-title"><%= title %>: <%= category.name %></p>
    <% if (category_recipes.length) { %>
    <p class="warning">Delete the following recipes before attempting to delete this category:</p>
    <div class="recipes-container">
      <% category_recipes.forEach(function(recipe) { %>
      <div class="recipe-item">
        <i class="fa-solid fa-utensils"></i>
        <a href=<%= recipe.url %>><%= recipe.title %></a>
      </div>
      <% }); %>
    </div>
    <% } else { %>
    <p>Do you really want to delete this category?</p>
    <form method='POST' action=''>
      <div>
        <input id='categoryid' type='hidden' name='categoryid' required='true' value=<%= category._id %>>
      </div>
      <button type='submit' class="delete-button"><i class="fa-solid fa-trash-can"></i> delete</button>
    </form>
    <% } %>
  </main>

  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>