<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <%- include('./partials/navbar') %>


  <% if (categories_list.length > 0) { %>
  <% categories_list.forEach(function(category) {%>
  <a href=<%= `/categories/${category.category_id}` %>><%= category.name %></a>
  <%}); %>
  <% } %>

  <a href="/categories/new">
    <button>new category</button>
  </a>
  <%- include('./partials/footer') %>
</body>

</html>