<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>
    <div>
      <p><%= title %></p>
      <p>The catalog has the following counts:</p>
      <ul>
        <li><strong>Recipes:</strong> <%= recipe_count %></li>
        <li><strong>Authors:</strong> <%= author_count %></li>
        <li><strong>Categories:</strong> <%= category_count %></li>
      </ul>
    </div>
  </main>
  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>