<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <%- include('./partials/navbar') %>


  <% if (items_list.length > 0) { %>
  <% items_list.forEach(function(item) {%>
  <a href=<%= `/items/${item.item_id}` %>><%= item.item_name %></a>
  <p><%= item.qty %></p>
  <p><%= item.unit_name %></p>
  <p><%= item.category_name %></p>
  <p><%= item.brand_name %></p>
  <%}); %>
  <% } %>

  <a href="/items/new">
    <button>new item</button>
  </a>
  <%- include('./partials/footer') %>
</body>

</html>