<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>
    <div class="recipe-detail">
      <p class="page-title"><%= title %></p>
      <div class="recipe-header">
        <div class="author-item">
          <i class="fa-solid fa-user"></i><a href="<%= recipe.author.url %>"><%= recipe.author.name %></a>
        </div>
        <div class="category-item">
          <i class="fa-solid fa-hourglass-half"></i>
          <% recipe.category.forEach(function(val, index) { %>
          <a href="<%= val.url %>"><%= val.name %></a>
          <% }); %>
        </div>
      </div>


      <p class="description"><%= recipe.description %></p>
      <a href="<%= recipe.link_to_recipe %>" target="_blank" class="external-link">INGREDIENTS AND METHOD</a></p>

      <div class="buttons-container">
        <button class="update-button">
          <i class="fa-solid fa-pen"></i>
          <a href="<%= recipe.url %>/update">update recipe</a>
        </button>
        <button class="delete-button">
          <i class="fa-solid fa-trash-can"></i>
          <a href="<%= recipe.url %>/delete">delete recipe</a>
        </button>
      </div>
    </div>

  </main>

  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>