<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>
    <p class="page-title"><%= title %></p>
    <button class="add-button"><a href="/catalog/recipe/create"><i class="fa-solid fa-file-circle-plus"></i> add recipe</a></button>

    <div class="recipes-container">
      <% if (recipe_list.length > 0) { %>
      <% recipe_list.forEach(function(recipe) { %>
      <div class="recipe-item">
        <p><i class="fa-solid fa-utensils"></i> <a href="<%= recipe.url %>"> <%= recipe.title %></a></p>
        |
        <p><i class="fa-solid fa-user"></i><a href="<%= recipe.author.url %>"> <%= recipe.author.name %></a></p>
        |
        <p>
          <i class="fa-solid fa-hourglass-half"></i>
          <% recipe.category.forEach(function(val, index) { %>
          <a href="<%= val.url %>"> <%= val.name %></a>
        </p>
        <% }); %>
      </div>
      <% }); %>
      <% } else { %>
      <p>There are no recipes.</p>
      <% } %>
    </div>
  </main>

  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>