<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>
    <p class="page-title"><%= title %></p>

    <p>Do you really want to delete this recipe?</p>
    <form method='POST' action=''>
      <div>
        <input id='recipeid' type='hidden' name='recipeid' required='true' value=<%= recipe._id %>>
      </div>
      <button type='submit' class="delete-button"><i class="fa-solid fa-trash-can"></i> delete</button>
    </form>
  </main>

  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>