<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <%- include('./templates/header'); %>
  <main>
    <div>
      <%= title %>
      <button><a href="/catalog/recipe/create"><i class="fa-solid fa-file-circle-plus"></i> Add Recipe</a></button>

      <ul>
        <% if (recipe_list.length > 0) { %>
        <% recipe_list.forEach(function(recipe) { %>
        <li>
          <a href="<%= recipe.url %>"><%= recipe.title %></a> (<%= recipe.author.name %>)
          <p> Category:
            <% recipe.category.forEach(function(val, index) { %>
            <a href="<%= val.url %>"><%= val.name %></a><% if (index < recipe.category.length - 1) { %>,<% } %>
            <% }); %>
          </p>
        </li>
        <% }); %>
        <% } else { %>
        <li>There are no recipes.</li>
        <% } %>
      </ul>
    </div>
  </main>

  <footer>
    <%- include('./templates/footer') %>
  </footer>
</body>

</html>